<%- include('./partials/header'); %>

    <head>
        <h1>Encrypt/Decrypt</h1>
        <p>Encrypts or decrypts text as you type</p>
    </head>

    <body id="encbody">
        <div class="encrypt">
            <h2>Encrypt Text</h2>
            <input class="e" type="text" placeholder="Enter Text">
            <span class="encrypted-text">---</span>
        </div>

        <div class="decrypt">
            <h2>Decrypt Text</h2>
            <input class="d" type="text" placeholder="Enter Text">
            <span class="decrypted-text">Your decrypted text will show here...</span>
        </div>
    </body>