<%- include('./partials/header'); %>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <% if (messages.error) { %>
            <%= messages.error %>
                <% } %>
    </head>

    <body id="logbody">
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <form action="/login" method="POST" class="login">
                        <center>
                            <h1>Master Login</h1>
                        </center>

                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="email" class="login__input" id="email" name="email" placeholder=" Email" required>
                        </div>

                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="password" class="login__input" id="password" name="password" placeholder="password" required>
                        </div>
                        <button class="button login__submit">
                            <span class="button__text" type="submit ">Sign In</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                        <button class="button login__submit">
                            <span class="button__text" type="submit"><a href="/register">Sign Up</a></span>
                          <i class="button__icon fas fa-chevron-right"></i>
                        </button>

                    </form>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
    </body>