<%- include('./partials/header'); %>

    <html>

    <head>
        <title>My vault</title>

    </head>

    <body>

        <div class="main-container">
            <h1>My vault</h1>
            <div class="sub-container">
                <h1> <label for="account">Account</label>
                    <input type="account" id="account" name="account"></h1>
                <h1> <label for="password">Email</label>
                    <input type="password" id="password" name="password"></h1>
            </div>
            <div class="sub-container">
                <h1><label for="account">Account</label>
                    <input type="account" id="account" name="account"></h1>
                <h1><label for="password">password</label>
                    <input type="password" id="password" name="password"></h1>
            </div>
            <div class="sub-container ">
                <h1><label for="account ">Account</label>
                    <input type="account " id="account " name="account "></h1>
                <h1><label for="account ">Account</label>
                    <input type="account " id="account " name="account "></h1>
            </div>
            <div class="sub-container ">
                <h1><label for="account ">Account</label>
                    <input type="account " id="account " name="account "></h1>
                <h1><label for="account ">Account</label>
                    <input type="account " id="account " name="account "></h1>
            </div>
            <div class="sub-container ">
                <h1>Account :</h1>
                <h1>Password :</h1>
            </div>
            <div class="sub-container ">
                <h1>Account :</h1>
                <h1>Password :</h1>
            </div>
        </div>

    </body>

    </html>